#search-input {
  height: 56px;
}

.hr-top-header {
  margin-top: 42px;
  margin-bottom: 64px;
}

.hr-collection-header {
  margin-bottom: 36px;
}

.card-deck {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px 80px;
  margin-bottom: 64px;
}

.card {
  width: 300px;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.rate::before {
  font-size: 24px;
  cursor: pointer;
}

.rate-half::before {
  position: absolute;
  width: 12px;
  overflow: hidden;
}

.rate:hover,
.rate:hover ~ .rate {
  color: #dbceca;
}

input:checked ~ .rate:not(input:checked + .rate-0) {
  color: #e6d113;
}

.slider {
  position: relative;
  z-index: 1;
  height: 8px;
  margin: 11px 8px;
}
.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}
.slider > .thumb.left {
  left: 25%;
  transform: translate(-10px, -6px);
}
.slider > .thumb.right {
  right: 25%;
  transform: translate(10px, -6px);
}
.slider > .thumb.hover {
  box-shadow: 0 0 0 20px rgba(98, 0, 238, 0.1);
}
.slider > .thumb.active {
  box-shadow: 0 0 0 40px rgba(98, 0, 238, 0.2);
}

input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}
