:root {
  --filter-height: 30px;
  --opening-hours-form-slider-height: 8px;
  --opening-hours-form-thumb-size: 20px;
  --rating-color: #e6d113;
}

hr-top-header {
  margin-top: 42px;
  margin-bottom: 64px;
}

hr-bookmarks img {
  object-fit: cover;
}

.opening-hours-form-slider {
  z-index: 1;
  height: var(--opening-hours-form-slider-height);
  margin: calc((var(--filter-height) - var(--opening-hours-form-slider-height)) / 2)
    var(--opening-hours-form-slider-height);
}

.opening-hours-form-track {
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.opening-hours-form-range {
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
}

.opening-hours-form-input {
  z-index: 2;
  height: var(--opening-hours-form-slider-height);
  pointer-events: none;
  appearance: none;
  opacity: 0;
}

.opening-hours-form-input::-webkit-slider-thumb {
  pointer-events: all;
  width: var(--opening-hours-form-thumb-size);
  height: var(--opening-hours-form-thumb-size);
  border-radius: 0;
  border: 0 none;
  background-color: red;
  appearance: none;
}

.opening-hours-form-thumb {
  z-index: 3;
  width: var(--opening-hours-form-thumb-size);
  height: var(--opening-hours-form-thumb-size);
  transition: box-shadow 0.3s ease-in-out;
}

.opening-hours-form-thumb.left {
  left: 25%;
  transform: translate(
    calc(var(--opening-hours-form-thumb-size) / -2),
    calc((var(--opening-hours-form-thumb-size) - var(--opening-hours-form-slider-height)) / -2)
  );
}

.opening-hours-form-thumb.right {
  right: 25%;
  transform: translate(
    calc(var(--opening-hours-form-thumb-size) / 2),
    calc((var(--opening-hours-form-thumb-size) - var(--opening-hours-form-slider-height)) / -2)
  );
}

.rating-form-label::before {
  font-size: 24px;
  cursor: pointer;
}

.rating-form-label.half::before {
  position: absolute;
  width: 12px;
  overflow: hidden;
}

.rating-form-label:hover,
.rating-form-label:hover ~ .rating-form-label {
  color: #dbceca;
}

.rating-form-input:checked ~ .rating-form-label:not(.rating-form-input:checked + .zero) {
  color: var(--rating-color);
}

.collection {
  gap: 60px 80px;
  margin-bottom: 64px;
}

.collection .card {
  width: 300px;
}

.collection .card-img-top {
  height: 200px;
  object-fit: cover;
}

.collection .card-title {
  max-height: 60px;
  text-overflow: ellipsis;
}

.collection .card-text {
  max-height: 100px;
  text-overflow: ellipsis;
}

.md {
  min-width: 270px;
}

.lg {
  min-width: 300px;
}

#search-input {
  height: 56px;
}
