#search-input {
  height: 56px;
}

.hr-top-header {
  margin-top: 42px;
  margin-bottom: 64px;
}

.hr-collection-header {
  margin-bottom: 36px;
}

.card-deck {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px 80px;
  margin-bottom: 64px;
}

.card {
  width: 300px;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.rate::before {
  font-size: 24px;
  cursor: pointer;
}

.rate-half::before {
  position: absolute;
  width: 12px;
  overflow: hidden;
}

.rate:hover,
.rate:hover ~ .rate {
  color: #dbceca;
}

input:checked ~ .rate:not(input:checked + .rate-0) {
  color: #e6d113;
}
